<div class="row">
  <h1>Karayote Host Tools</h1>
  <div class="col-8">
    <div>
      <div>
        Now Playing
      </div>
      <input type="text" placeholder="Song 1"/>
      <div>
        <button>Done</button>
        <button>Skip</button>
      </div>        
    </div>
    <div>
      <div>
        Next Up
      </div>        
      <input type="text" placeholder="Song 2" />
      <div>
        <button>Edit</button>
        <button>Remove</button>
      </div>        
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <div class="col-3">
        <button>Add</button>
        <button>Edit</button>
        <button>Delete</button>
      </div>
      <div class="col-9">
        <div>
          Song 3
        </div>
        <div>
          Song 4
        </div>
      </div>
    </div>
  </div>
</div>
