@model KarafunAPI.Models.Status
@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Status</h1>
    <div class="col-6">
        Data dump: @Model?.ToString()
    </div>
</div>
